body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}

div#contact {
  background-color: #339933;
  color: white;
}

h1 {
  font-weight: lighter;
  text-align: center;
}

p.lead {
  text-align: center;
}

h2 {
  font-weight: lighter;
}

h3 {
  font-weight: lighter;
}

p, li {
  font-size: 19px;
  line-height: 29px;
}

a {
  color: #339933;
}

a:hover {
  color: #117711;
}

ul, ol {
  margin: 0 0 10px 0;
}

blockquote p {
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
}
