body {
  background: url('../img/boston-down.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

h1.header {
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  font-weight: normal;
}

p.lead {
  font-size: 35px;
  text-align: center;
}

div#advert {
  background-color: rgba(70, 170, 70, 0.75);
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-top: 50px;
}

div#mc_embed_signup {
  background-color: rgba(70, 170, 70, 0.75);
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-top: 15px;
  text-align: center;
}

div#mc_embed_signup .button {
  width: 218px;
}
