body {
  background: url('../img/boston-down.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

h1.header {
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  font-weight: normal;
}

p.lead {
  font-size: 35px;
  text-align: center;
}

div#advert {
  background-color: rgba(70, 170, 70, 0.75);
  border: 1px white solid;
  margin-top: 50px;
}

div#mc_embed_signup {
  background-color: rgba(70, 170, 70, 0.75);
  border: 1px white solid;
  margin-top: 15px;
  text-align: center;
}

div#mc_embed_signup form {
  padding: 0 65px;
}

div#mc_embed_signup input {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius: 0;
}

div#mc_embed_signup .sell {
  font-size: 1.2em;
}

div#mc_embed_signup .button {
  background-color: rgba(243, 162, 39, 0.85);
  border: 1px white solid;
  color: white;
  font-size: 1.4em;
  height: 40px;
  width: 218px;
}

div#mc_embed_signup .no-spam {
  font-style: italic;
}
